html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}

.header {
    height: 90px;
    background-color:black;
    color: white;
}

.header-menu {
    float: right;
}

.header-menu li {
    float: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 30px 40px;
}

.main {
    height: 500px;
    background-image: url(bgmain.jpg);
    background-size: cover;
}

.main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 120px;
    padding-left: 40px;
    opacity: 0.8;
}

.footer {
    background-color: black;
    height: 100px;

}

.footer h3 {
    padding: 20px 0px 10px 30px;
    color: white;
    opacity: 0.9;
}

.footer li {
    font-size: 20px;
    color:white;
    float: left;
    padding: 10px 30px;
    opacity: 0.9;
}
